body {
	overflow-y: scroll; overflow-x:hidden;
}

.slider {
	position: absolute;
	width: 85%;
	height: 600px;
	left: 7.5%;
	top: 200px;
}

#buttonleft {
	position: absolute;
	top: 65%;
	left: 6%;
	width: 2.5%;
	height: 6%;
	background-color: #C5C5C5;
	border-radius: 5px;
	z-index: 6;
}

#buttonright {

	position: absolute;
	top: 65%;
	left: 91%;
	width: 2.5%;
	height: 6%;
	background-color: #C5C5C5;
	border-radius: 5px;
	z-index: 6;
}




.slides {

	position: absolute;
	left: 100%;
	top: 30%;
	width: 400%;
	height: 63%;
}

#slide_een {
	position: absolute;
	width: 21.25%;
	height: 87.5%;
	left: 0px;
	top: 0px;

}


#slide_twee {
	position: absolute;
	left: 23.15%;
	width: 21.25%;
	height: 87.5%;	
	top: 0px;

}

#slide_drie {
	position: absolute;
	left: 46.30%;
	width: 21.25%;
	height: 87.5%;	
	top: 0px;

}

#slide_vier {
	position: absolute;
	left: 69.35%;
	width: 21.25%;
	height: 87.5%;	
	top: 0px;

}
































